<section class="Hero">
    <div class="card shadow" style=" background: rgba(3, 3, 3, 0.765);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(17, 17, 17, 0.664);">
        
            <h4>Portfolio-Javier Solis</h4>
       
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Proyectos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
            </li>
            <!-- <li class="nav-item">
      <a class="nav-link disabled">Disabled'</a>
    </li> -->
        </ul>
       <!--  <button> Iniciar Sesion
        </button> -->
        
          
            
                
                  
                    <button data-toggle="modal" data-target="#myModal0">
            Iniciar Sesión
          </button>
                     
                </div>
          
        
       

        

</section>

  

  
