<div class="card">
    <div class="content">
        <p class="heading">Experiencia Laboral
        </p>
        <p class="para">
            Proyectos personales reliazados en el marco de mi formacion profecional
        </p>
        <!-- <button class="btn">Read more</button> -->
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal4">Ver Experiencia</button>
    </div>
</div>
<!-- Ventana emergente -->
<div id="myModal4" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident neque corporis aliquid doloribus tempora,
        facere assumenda autem nam repellat odit.</p> -->
        <!--  <img src="../../../assets/6017f309-9be0-4177-8926-bced23855b5c.jpg" alt=""> -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Proyectos </h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <!-- Contenido de la Ventana emergente -->
            <div class="modal-body2" style="overflow: hidden;">
                <div class="page">
                    <div class="margin"></div>
                    <p>Por el momento estoy sin <span>EXPERIENCIA LABORAL EN</span>  Full Stack Developer</p>
                </div>

                <main id="container">

                    <div class="dots">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="dots2">
                        <div class="dot2"></div>
                        <div class="dot2"></div>
                        <div class="dot2"></div>
                        <div class="dot2"></div>
                        <div class="dot2"></div>
                        <div class="dot2"></div>
                        <div class="dot2"></div>
                        <div class="dot2"></div>
                        <div class="dot2"></div>
                        <div class="dot2"></div>
                    </div>
                    <div class="circle"></div>
                </main>

                <div class="master-container2">
                    <div class="container2">
                    <div class="crescent">
                      <span></span><span></span>
                    </div>
                    <div class="star s1">
                      <span></span><span></span>
                    </div>
                    <div class="star s2">
                      <span></span><span></span>
                    </div>
                    <div class="star s3">
                      <span></span><span></span>
                    </div>
                    <div class="star s4">
                      <span></span><span></span>
                    </div>
                    <div class="star s5">
                      <span></span><span></span>
                    </div>
                    <div class="small-star ss1">
                      <span></span><span></span>
                    </div>
                    <div class="small-star ss2">
                      <span></span><span></span>
                    </div>
                    <div class="small-star ss3">
                      <span></span><span></span>
                    </div>
                    <div class="small-star ss4">
                      <span></span><span></span>
                    </div>
                    <div class="small-star ss5">
                      <span></span><span></span>
                    </div>
                    <div class="small-star ss6">
                      <span></span><span></span>
                    </div>
                    <div class="small-star ss7">
                      <span></span><span></span>
                    </div>
                    <div class="small-star ss8">
                      <span></span><span></span>
                    </div>
                    <div class="hut">
                      <hr>
                      <hr>
                      <hr>
                      <hr>
                      <hr>
                      <hr>
                      <div class="doorway">
                        <hr class="split">
                      </div>
                    </div>
                    <div class="fire-pit">
                      <div class="fire">
                    <div class="inner-fire">
                  </div>
                  </div>
                      <hr class="log1">
                      <hr class="log2">
                    </div>
                    <div class="tree one">
                      <hr class="trunc">
                      <hr class="leaves">
                      <hr class="leaves">
                      <hr class="leaves">
                      <hr class="leaves">
                    </div>
                    <div class="tree two">
                      <hr class="trunc">
                      <hr class="leaves">
                      <hr class="leaves">
                      <hr class="leaves">
                      <hr class="leaves">
                    </div>
                    <div class="tree three">
                      <hr class="trunc">
                      <hr class="leaves">
                      <hr class="leaves">
                      <hr class="leaves">
                      <hr class="leaves">
                    </div>
                    <div class="tree four">
                      <hr class="trunc">
                      <hr class="leaves">
                      <hr class="leaves">
                      <hr class="leaves">
                      <hr class="leaves">
                    </div>
                    <div class="hill"></div>
                  </div>
                  <span class="loading-text" style="color: cadetblue;">Pronto tendre Experiencia laboral</span>
                  </div>


                <div class="modal-footer" style="position: relative; bottom: 23rem;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>