.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 435px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    background: #2121214e;
    border: 2px solid #313131;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    left: 67%;
    bottom: 27rem;
    height: 255px;
    background-color: #0975f12d;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
    font-weight: 700;
    font-size: 32px;
}

.content .para {
    line-height: 1.5;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: #0974f1;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
    box-shadow: 0 0 20px rgba(179, 9, 231, 0.366);
    border-color: #08d0eb5c;
}

.content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
}

.content .btn:active {
    box-shadow: none;
}

.modal-content {
    width: 200%;
    height: 700px;
    background: rgba(9, 9, 9, 0.511);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(17, 17, 17, 0.299);
    position: relative;
    left: -50%;
    top: 5rem;
}

.page {
    position: relative;
    box-sizing: border-box;
    max-width: 90%;
    font-family: cursive;
    font-size: 20px;
    border-radius: 10px;
    background: #fff;
    background-image: linear-gradient(#f5f5f0 1.1rem, #ccc 1.2rem);
    background-size: 100% 1.2rem;
    line-height: 1.2rem;
    padding: 1.4rem 0.5rem 0.3rem 4.5rem;
    height: 400PX;
    left: 5%;
    top: 0.5rem;
  }
  
  .page::before,
  .page::after {
    position: absolute;
    content: "";
    bottom: 10px;
    width: 40%;
    height: 10px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
    z-index: -1;
    transition: all 0.3s ease;
  }
  
  .page::before {
    left: 15px;
    transform: skew(-5deg) rotate(-5deg);
  }
  
  .page::after {
    right: 15px;
    transform: skew(5deg) rotate(5deg);
  }
  
  .page:hover::before,
  .page:hover::after {
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
  }
  
  .margin {
    position: absolute;
    border-left: 1px solid #d88;
    height: 100%;
    left: 3.3rem;
    top: 0;
  }
  
  .page p {
    margin: 0;
    text-indent: 1rem;
    padding-bottom: 1.2rem;
    color: black;
    line-height: 20px;
  }

  

  /* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
  /* Agrega aquí tus estilos para dispositivos móviles */ 
  .card{
      position: relative;
      top: 9rem;
      left: 4.5%;
      width: 87%;
  }
 
}
/* Ejemplo de estilos para pantallas medianas (entre 576px y 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .card{
      position: relative;
      top: 9rem;
      left: 4.5%;
      width: 70%;
  }

}

/* Estilos para tabletas en modo horizontal */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Agrega aquí tus estilos para tabletas en modo horizontal */
  .card{
      position: relative;
      top: 10rem;
      left: 4.5%;
      width: 51%;
  }

}