<div class="box_shadow">
    <p>
        ¡Hola! Me llamo <span>Javier Solis</span>  Soy un desarrollador Full Stack con más de 1 año de experiencia en el desarrollo de paginas web. Me
        apasiona la tecnología y siempre estoy buscando formas de mejorar mis habilidades y conocimientos.
</p>
</div>

<!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
   SOBRE MI
  </button>
  
  <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="staticBackdropLabel">INFORMACION PERSONAL</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <img src="../../../assets/logoPersona.png" alt="" style="width: 80%; padding: 30px;" >

        <ul class="personal-info">
            <li><strong>Nombre:</strong> Javier Solis</li>
            <li><strong>Edad:</strong> 30 años</li>
            <li><strong>País:</strong> Arentina</li>
            <li><strong>Email:</strong> javiersolis@example.com</li>
            <li><strong>Teléfono:</strong> +34 123456789</li>
          </ul>
          
      </div>
    </div>
  </div> -->

  