.box_shadow{
    background-color: rgba(0, 0, 0, 0.861);
    width: 100%;
    height: 10rem;
    box-shadow: 80px -80px 100px 280px rgb(0, 0, 0);
       position: relative;
       top: 30rem;
   }
   p{
    color: aliceblue;
    text-align: center;
    font-size: 25px;
    position: relative;
    bottom: 25rem;
    width: 50%;
    left: 22%;

   }

   span{
    color: rgb(9, 210, 255);
   }
/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
    /* Agrega aquí tus estilos para dispositivos móviles */ 
    p{
    
    position: relative;
    bottom: 38rem;
    font-size: 23px;
    text-align: center;
    width: 80%;
    left: 12%;
   }
  }
  
  /* Estilos para tabletas en modo horizontal */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Agrega aquí tus estilos para tabletas en modo horizontal */
    p{
    
      position: relative;
      bottom: 38rem;
      font-size: 23px;
      text-align: center;
      width: 80%;
      left: 12%;
     }
    
  }
  
  /* Estilos para tabletas y pantallas de escritorio */
  /* @media screen and (min-width: 1024px) { */
    /* Agrega aquí tus estilos para tabletas y pantallas de escritorio */
    /* p{
    
      position: relative;
      bottom: 38rem;
      font-size: 23px;
      text-align: center;
      width: 80%;
      left: 12%;
     }
    
  
  } */
  