

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 420px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    background: #2121214e;
    border: 2px solid #313131;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    left: 5%;
    top: 5rem;
    background-color: #0975f116;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
    font-weight: 700;
    font-size: 32px;
}

.content .para {
    line-height: 1.5;
}

.content .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: #0974f1;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
    box-shadow: 0 0 20px rgba(98, 231, 9, 0.366);
    border-color: #1809f189;
}

.content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
}

.content .btn:active {
    box-shadow: none;
}

.modal-content {
    width: 250%;
    height: 700px;
    background: rgba(15, 16, 16, 0.664);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(17, 17, 17, 0.299);
    position: relative;
    left: -75%;
    top: 5rem;
    
}

h5 {
    color: aliceblue;
    text-align: center;
    position: relative;
    left: 42%;
    font-size: 30px;
    font-family: sans-serif;
}


/* card de la ventana emergente */

.card1 {
    padding: 20px;
    width: 300px;
    min-height: 370px;
    border-radius: 20px;
    background: #212121;
    box-shadow: 5px 5px 8px #1b1b1b,
               -5px -5px 8px #272727;
    transition: 0.4s;
    
   
    
  
  }
  
  .card:hover {
    translate: 0 -10px;
  }
  
  .card-title1 {
    font-size: 18px;
    font-weight: 600;
    color: #b2eccf;
    margin: 15px 0 0 10px;
  }
  
  .card-image1 {
    min-height: 170px;
    background-color: #313131;
    border-radius: 15px;
    background: #313131;
    box-shadow: inset 5px 5px 3px #2f2f2f,
              inset -5px -5px 3px #333333;
  }
  
  .card-body1 {
    margin: 13px 0 0 10px;
    color: rgb(184, 184, 184);
    font-size: 15px;
  }
  
  .footer {
    float: right;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #b3b3b3;
  }
  
  .by-name {
    font-weight: 700;
  }

  /* ----------------- */

  #certimg {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Cambio aquí: overflow hidden */
    background-color: rgba(0, 0, 0, 0.9);
  }

  #certimg2 {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Cambio aquí: overflow hidden */
    background-color: rgba(0, 0, 0, 0.9);
  }

  #certimg3 {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Cambio aquí: overflow hidden */
    background-color: rgba(0, 0, 0, 0.9);
  }
  .close {
    color: #fff;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }
 
 ul{
    color: #e8e8e8;
 }

 span{
    color: tomato;
 }

 
 #myModal2{
  overflow: hidden;
 }


 
 