<div>
    <div class="card">
        <div class="content">
            <p class="heading">Formacion academica
            </p>
            <p class="para">
               Titulos que avalan la formacion de mis Estudios
            </p>
            <!-- <button class="btn">Read more</button> -->
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal2">Ver Estudios</button>

        </div>
    </div>

    <!-- Ventana emergente -->
    <div id="myModal2" class="modal fade" role="dialog" style="overflow: hidden;">
        <div class="modal-dialog">
            <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident neque corporis aliquid doloribus tempora,
            facere assumenda autem nam repellat odit.</p> -->
            <!--  <img src="../../../assets/6017f309-9be0-4177-8926-bced23855b5c.jpg" alt=""> -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mis Estudios </h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <!-- <p>Contenido de la ventana emergente.</p> -->

                    <!-- card 1 -->
                    <div class="card1">
                        <div class="card-image1">
                            <img src="../../../assets/6017f309-9be0-4177-8926-bced23855b5c.jpg" alt=""
                                style="width: 100%; ">
                        </div>
                        <p class="card-title1">Certificado Full Stack Junior</p>
                        <p class="card-body1">
                            <ul>
                                <li>Argentina Programa 4.0</li>
                                <li>Ministerio de Economía</li>
                                <li>Argentina Secretaría de Economía del Conocimiento</li>
                                <li>INTI Instituto Nacional de Tecnología Industrial</li>
                                <li>Terminado <span>13/06/23 </span></li>
                              </ul>
                              
                        
                        <!-- <p class="footer">Written by <span class="by-name">John Doe</span> on <span
                                class="date">25/05/23</span></p> -->

                                <button class="btn btn-primary" data-toggle="modal" data-target="#certimg">Ver Certificado</button>

                                <div id="certimg" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="../../../assets/6017f309-9be0-4177-8926-bced23855b5c.jpg" alt="" style="width: 80%; height: 85%; position: relative; bottom: 5rem; left: 10%; ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                        
                    </div>

                    <!-- card2 -->
                    <div class="card1" style="position: relative; left: 36%; bottom: 30.5rem;">
                        <div class="card-image1">
                            <img src="../../../assets/centificado javascript.jpg" alt=""
                                style="width: 100%; position: relative; bottom: -0.1rem; height: 165px;">
                        </div>
                        <p class="card-title1">Tramo 1° javascript Front-end Developer Junior </p>
                        <p class="card-body1">
                            <ul>
                                <li>Argentina Programa 4.0</li>
                                
                                <li>Argentina Secretaría de Economía del Conocimiento</li>
                                <li>Faculta de Ciencias Económicas, Universidad de Buenos Aires</li>
                                <li>Terminado <span> 31/03/23 </span></li>
                              </ul>
                        
                        <!-- <p class="footer">Written by <span class="by-name">John Doe</span> on <span
                                class="date">25/05/23</span></p> -->

                                <button class="btn btn-primary" data-toggle="modal" data-target="#certimg2">Ver Certificado</button>

                                <div id="certimg2" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="../../../assets/centificado javascript.jpg" alt="" style="width: 80%; height: 85%; position: relative; bottom: 5rem; left: 10%; ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                        
                    </div>

                    <!-- card3 -->
                    <div class="card1" style="position: relative; left: 72.5%; bottom: 61rem;">
                        <div class="card-image1">
                            <img src="../../../assets/inglescertificado.jpg" alt=""
                                style="width: 100%;  position: relative; bottom: -0.1rem; height: 165px;">
                        </div>
                        <p class="card-title1">Ingles Nivel 2 </p>
                        <p class="card-body1">
                            <ul>
                                <li>Argentina Programa 4.0</li>
                                <li>Argentina Secretaría de Economía del Conocimiento</li>
                                <li>Centro Universitario de Idiomas CUI </li>
                                <li>Terminado <span> 16/03/23 </span></li>
                              </ul>
                        <!-- <p class="footer">Written by <span class="by-name">John Doe</span> on <span
                                class="date">25/05/23</span></p> -->

                                <button class="btn btn-primary" data-toggle="modal" data-target="#certimg3">Ver Certificado</button>

                                <div id="certimg3" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="../../../assets/inglescertificado.jpg" alt="" style="width: 80%; height: 85%; position: relative; bottom: 5rem; left: 10%; ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                        
                    </div>
                    
                    <div class="modal-footer" style="position: relative; bottom: 58rem;">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closebutton">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>