

<section class="titulo_sec">
    <div class="titulo_text">
            <h1>Bienvenido a <p>Mi - Portfolio </p>
            </h1>
            <!-- <h2>Javier Lezcano</h2> -->
            <h3>Full Stack <span class="cr">Developer Jr.</span></h3>
    </div>
</section>
<div class="der" style=" width: 20%; height: 250px;">
  <img src="../../../assets/banner/lines-bg.webp" alt="">
</div>

<div class="izq">
  <img src="../../../assets/banner/lines-bg2.webp" alt="" style="position: relative; right: 370%;">
</div>


<div class="pyramid-loader">
  <div class="wrapper">
    <span class="side side1"></span>
    <span class="side side2"></span>
    <span class="side side3"></span>
    <span class="side side4"></span>
    <span class="shadow"></span>
  </div>  
</div>

