
    
    <div class="titulo_skills">
        <h3><p>Skills</p>
        </h3>
        <h4 class="sub_titu">En mi carrera profesional he trabajado en proyectos de desarrollo de software desde el análisis de
                requisitos hasta el despliegue de la aplicación en producción. Mi experiencia me ha permitido adquirir
                habilidades en diferentes tecnologías y lenguajes de programación, como - <span>Java, ReactJS, MySQL, Angular, Javascript y Node.js</span> - .</h4>
    </div>

    <div class="card">
        <div class="img_lg">
            <img src="../../../assets/logos/1366_2000.png" alt="" class="card-img-top">
        </div>
    </div>

    <div class="card" style="bottom: 15.5rem;">
        <div class="img_lg">
            <img src="../../../assets/logos/584830f5cef1014c0b5e4aa1.png" alt="" class="card-img-top">
        </div>
    </div>

    <div class="card">
        <div class="img_lg">
            <img src="../../../assets/logos/74-744138_mysql-logo-png-mysql-transparent-png-removebg-preview.png" alt=""
                class="card-img-top">
        </div>
    </div>

    <div class="card">
        <div class="img_lg">
            <img src="../../../assets/logos/AngularJS-Shield.svg" alt="" class="card-img-top">
        </div>
    </div>

    <div class="card" style="bottom: 15.4rem;">
        <div class="img_lg">
            <img src="../../../assets/logos/images.png" alt="" class="card-img-top">
        </div>
    </div>

    <div class="card">
        <div class="img_lg">
            <img src="../../../assets/logos/nodejs-logo-FBE122E377-seeklogo.com.png" alt="" class="card-img-top">
        </div>
    </div>


