/* glowing hover card made by: csozi | Website: english.csozi.hu*/

.card {
  position: relative;
  width: 190px;
  height: 200px;
  background: rgba(9, 2, 7, 0.227);
  background: linear-gradient(137deg, rgba(255, 0, 179, 0.055) 0%, rgba(6, 226, 226, 0.14) 100%);
  transition: 0.3s ease;
  border-radius: 30px;
  filter: drop-shadow(0px 0px 30px rgba(11, 5, 10, 0.5));
  bottom: 15rem;
  left: 15%;
  padding: 30px;
  margin: 10px;
  display: inline-block;
}

.card::after {
  content: '';
  background-color: #18181823;
  position: absolute;
  z-index: 1;
  transition: 0.3s ease;
  height: 98%;
  width: 98%;
  top: 1%;
  left: 1%;
  border-radius: 28px;
}

.card:hover {
  filter: drop-shadow(0px 0px 30px rgba(38, 209, 209, 0.298));
}

.titulo_skills{
  position: relative;
 bottom: 15rem;
 left: 43%;
 color: aliceblue;

}

h3{
  font-size: 38px;
}

p{
  position: relative;
  left: 2%;
  bottom: 2.7rem;
  color: aqua;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
  /* Agrega aquí tus estilos para dispositivos móviles */ 
  .card{
   
    position: relative;
    top: 15rem;
    left: -17%;
    
  }
  .titulo_skills{
   
    position: relative;
    width: 100%;
    text-align: center;
    left: -1%;
    top: 14rem;
  }
  .sub_titu{
    text-align: center;
    position: relative;
    left: 18%;
    font-size: 20px;
  }
 
}
/* Ejemplo de estilos para pantallas medianas (entre 576px y 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .card{
   
    position: relative;
    top: 15rem;
    left: 7%;
  }
  .titulo_skills{
   
    position: relative;
    width: 100%;
    text-align: center;
    left: -1%;
    top: 14rem;
  }
  .sub_titu{
    text-align: center;
    position: relative;
    left: 18%;
    font-size: 20px;
  }

}

/* Estilos para tabletas en modo horizontal */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Agrega aquí tus estilos para tabletas en modo horizontal */
  .card{
   
    position: relative;
    top: 15rem;
    left: 7%;
  }
  .titulo_skills{
   
    position: relative;
    width: 100%;
    text-align: center;
    left: -1%;
    top: 14rem;
  }
  .sub_titu{
    text-align: center;
    position: relative;
    left: 18%;
    font-size: 20px;
  }

}

#skills_sect{
  position: relative;
 top: 70rem;
  
}



h4{

  position: relative;
  left: -30%;
  width: 70%;
  text-align: center;
  font-size: 18px;
  bottom: 1rem;
}

span{
  color: aqua;
}

 .card{
   
    position: relative;
    
    left: 17%;
  }
  .titulo_skills{
   
    position: relative;
    width: 100%;
    text-align: center;
    left: -1%;
    
  }
  .sub_titu{
    text-align: center;
    position: relative;
    left: 18%;
    font-size: 20px;
  }